<p-dialog header="Add new secrets file" [modal]="true" [(visible)]="visible" [style]="{ width: '90vw', height: '90vh' }" (onShow)="handleShow()" (onHide)="handleHide()">
    <div class="flex flex-col gap-4 h-full">
        <div class="flex flex-col gap-2">
            <label for="filename">File Name</label>
            <input #inputRef pInputText id="filename" aria-describedby="filename-help" [(ngModel)]="newSecretsFile.fileName" />
            <small id="filename-help" class="text-left text-sm">A easy way to identify the secrets content.</small>
        </div>
        <div class="flex flex-col gap-2 flex-1 overflow-hidden">
            <div class="flex justify-end">
                <button pButton type="button" label="Import from file" icon="pi pi-upload" (click)="triggerFileInput()"></button>
                <input #fileInput type="file" accept=".txt,.json" style="display: none" (change)="handleFileInput($event)" />
            </div>

            <label for="content">Content</label>
            <textarea pTextarea id="content" class="w-full h-full" style="flex: 1; resize: none" [ngModel]="newSecretsFile.content" [autoResize]="false"></textarea>
        </div>
        <div class="flex justify-end gap-2 pt-2">
            <button pButton type="button" label="Cancel" class="p-button-secondary" (click)="onCancel()"></button>
            <button #saveBtn pButton type="button" label="Save" class="p-button-success" (click)="handleSave()" tabIndex="0"></button>
        </div>
    </div>
</p-dialog>
