<p-table [value]="secretList" [scrollable]="true" dataKey="id" styleClass="mt-4" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="rowSelect($event)">
    <ng-template #header>
        <tr>
            <th style="min-width: 200px">File name</th>
            <th style="max-width: 100px" pFrozenColumn alignFrozen="right"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-secretItem let-rowIndex="rowIndex">
        <tr [pSelectableRow]="secretItem" [pSelectableRowIndex]="rowIndex">
            <td style="min-width: 100px">{{ secretItem.fileName }}</td>
            <td pFrozenColumn alignFrozen="right" style="min-width: 50px">
                <!-- <button pButton pRipple type="button" icon="pi pi-download" text rounded severity="primary"></button> -->
                <p-button pButton pRipple type="button" icon="pi pi-trash" text rounded severity="danger" (onClick)="deleteClickHandle(secretItem)"></p-button>
            </td>
        </tr>
    </ng-template>

    <!-- Template quando vazio -->
    <ng-template #emptymessage>
        <tr>
            <td colspan="2">
                <div class="empty-message-container">
                    <img src="/no-secrets.png" />
                    <p>No secrets found.</p>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
