<p-toast></p-toast>
<p-toolbar>
    &nbsp;
    <ng-template #end>
        <p-button label="Add new secrets file" severity="primary" size="small" (onClick)="showNewSecretsFile()" />
    </ng-template>
</p-toolbar>
<app-secrets-list-table #secretsTable [secretList]="secretsFileList" (onFileSelected)="showSecretsFile($event)" (onDeleteClick)="deleteFile($event)"></app-secrets-list-table>
<app-secrets-file-content [(visible)]="showContent" [secretsFile]="selectedSecretsFile" (onHide)="hideSecretsFile()"></app-secrets-file-content>
<app-secrets-create-modal [visible]="addingNewSecretsFile()" (onHide)="onModalHide()" (onSave)="onSaveNewSecret($event)"></app-secrets-create-modal>
